# Security and key access archives
conta.py
credentials.json
fakenewsanalyzergoogledrive.py
token.pickle

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

#Others
Exercício 5 - Processamento de Linguagem Natural (PLN).ipynb
word_cloud.png
__pycache__/
#*.txt

# VSCode
PYTHON-AI-PORTUGUESE-FAKE-NEWS-ANALYZER/.vscode/settings.json